{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": [],
  "pluginSearchDirs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "astroAllowShorthand": true,
  "astroSortAttributes": "asc",
  "endOfLine": "lf"
}
