---
---
<!-- Astro uses standard HTML <a> elements to navigate between pages (also called routes) -->
<div id="main-menu" class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</div>
