---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

// Récupération de la prop "pageTitle" passée depuis le composant parent
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={ Astro.generator } />
    <title>{ pageTitle }</title>

  </head>

  <body>

    <Header />

    <h1>{ pageTitle }</h1>

    <!--
        Le composant natif Astro <slot /> permet d'insérer un contenu enfant entre les balises du composant :
        <BaseLayout> _ici, le contenu_ </BaseLayout>
    -->
    <slot />

    <Footer />

    <script>
        import "../scripts/menu.js";
    </script>

  </body>
</html>
